.userBadgeAvatar {
  width: 20px;
  margin-right: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.userBadgeAvatarPlaceholder {
  width: 20px;
  margin-right: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #e8e8;
}
